$colors: (
    basic: #202027,
    text: white,
    button: yellow,
    main: #343D57,
    names: white,
    underline_dark: #E0391F,
    underline_light: #E0391F,
    gradient: red
);
$backgroundImage: url('../img/m-h-night.jpg');
$fonts: (
    headers_buttons: 'Source Sans Pro',
    text_logo: 'Fresca'
);